/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
/* https://media.giphy.com/media/3oD3YC5okylCndTsT6/giphy.gif */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ff6363;
}

.container {
  /* viewport height and viewport width */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('https://media.giphy.com/media/3oD3YC5okylCndTsT6/giphy.gif');
  background-position: 750px;
  background-repeat: no-repeat;
}

button {
  position: absolute;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #ff6363;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 5px;
  /* horizontal offset, vertical offset, blur, spread, color */
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}

/* pseudo class */
button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

.dialouge-box {
  position: relative;
  bottom: 150px;
}

.dialouge {
  color: #fff;
  width: 50%;
  text-shadow: 1px 1px 1px #000;
  font-size: 15px;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: break-spaces;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
}

/* footer */

footer,
.push {
  text-align: center;
  height: 50px;
  font-family: 'Montserrat';
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 2px #000;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
